*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
}

*:focus {
  outline: none;
}

ul {
  list-style: none;
}

h2 {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: var(--small-text);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

button, .button {
  padding: 0.5rem 0.825rem;
  border: 0;
  border-radius: 0.3rem;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  cursor: pointer;
}

input[type=text] {
  border: 0;
  border-radius: 0.3rem;
  background-color: var(--light-grayish-cyan);
  color: var(--very-dark-cyan);
  width: 100%;
  padding: 0.5rem;
  text-align: right;
}